@model AppDemo.Models.UsuarioCSV

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsuarioCSV</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasTrabajadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasTrabajadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoPorHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoPorHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaProximoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaProximoPago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
